.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.fade.in {
    opacity: 1
}

.collapse {
    display: none
}

.collapse.in {
    display: block
}

tr.collapse.in {
    display: table-row
}

tbody.collapse.in {
    display: table-row-group
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    appearance: none
}

.modal-open {
    overflow: hidden
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width:768px) {
    .modal-dialog {
        width: 530px;
        margin: 30px auto
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
    }
    .modal-sm {
        width: 300px
    }
}

@media (min-width:992px) {
    .modal-lg {
        width: 900px
    }
}

.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
    display: table;
    content: " "
}

.clearfix:after,
.modal-header:after,
.modal-footer:after {
    clear: both
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto
}

.pull-right {
    float: right !important
}

.pull-left {
    float: left !important
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.invisible {
    visibility: hidden
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.hidden {
    display: none !important
}

.affix {
    position: fixed
}

.opp-modal-content {
    margin-top: 100px
}

.bet-opp-container {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #949797;
}

.bet-opp-container:last-child {
    border-bottom: none;
}

.bet-opp-container label {
    font-size: 20px;
    margin-right: 5px
}

.modal-header .opp-close {
    font-size: 30px
}

.opp-modal-title {
    font-size: 24px;
    display: inline-block;
}

.bet-opp-container span {
    font-size: 20px
}

.bet-opp-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px
}

.save-bet-btn {
    margin-left: 10px;
    color: #434343;
    background-color: #f8b700;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
}

.bet-opp-container-not-mine .save-bet-btn {
    background-color: #898c8c;
    color: white;
}

.submitting-bet .save-bet-btn {
    pointer-events: none;
}

.save-bet-btn:focus {
    outline: none;
}

.bet-opp-container input {
    width: 100px;
    text-align: right;
    font-size: 18px;
    margin-right: 10px;
}


a.opp-box-not-mine {
    background-color: #7d7d7d !important;
}

.opp-box {
    color: white;
    background-color: #3b3b3b !important;
}


.matches .upcoming-matches .upcoming-match.opp-box  .time {
    color: white;
}

.matches .upcoming-matches .upcoming-match.opp-box:hover {
    background-color: #434343!important;
}

.opp-btn-container {
    text-align: right;
    margin-top: -3px;
    background-color: #3b3b3b;
    padding-bottom: 5px;
    margin-bottom: 3px;
    padding-top: 5px;
    padding-right: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
}

.opp-btn-container.opp-btn-container-not-mine {
    background-color: #7d7d7d;
}

.opp-btn-container button {
    cursor: pointer;
    color: #434343;
    background-color: #f8b700;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: 700;
}

.opp-btn-container button:hover {
    color: #635b5b;
}

.opp-btn-container button:focus {
    outline: none;
}

.opp-modal-content {
    background-color: #3b3b3b;
    color: white;
}

.modal-header .opp-close {
    color: white;
    opacity: 1;
    font-weight: 200;
    margin-top: 0;
    text-shadow: none;
}

.modal-header .opp-close:hover {
    color: #909090
}

.bet-amount-input, .bet-coef-input {
    background-color: #898c8c;
    border: none;
    color: white;
    padding-right: 10px;
}

#opportunitiesModal .modal-header {
    border-bottom: 1px solid #949797;
}

#opportunitiesModal {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}

.opp-input-container {
    display: flex;
    justify-content: space-between;
}

a.opp-box:hover {
    color: white !important;
}

.opp-team-logo {
    height: 15px;
    margin-right: 3px;
}

.opp-team-header-logo {
    height: 16px;
    margin-right: 3px;
    margin-left: 3px;
}

@media screen and (max-width: 524px) {
  .opp-input-container {
    display: block;
  }
  
  .bet-coef-input {
      margin-left: 22px;
  }
}
